@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --white-color: #fff;
  --black-color: #000;
}
@font-face {
    font-family: gilroyRegular;
    src: url(./fonts/GIlroy/Gilroy-Regular.ttf);
}
@font-face {
    font-family: monument;
    src: url(./fonts/Monument\ Regular.otf);
}
@font-face {
    font-family: mango;
    src: url(./fonts/MangoGrotesque-ExtraBold.otf);
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
    position: relative;
}
body::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}
#cursor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    mix-blend-mode: difference;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(-50%,-50%) scale(0.4);
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}
#black-div{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
}
#bar{
    width: 0%;
    background-color: black;
    height: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius : 50px;
}
#black-parent{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
}
.black01{
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: end;
}
.black1{
    height: 0%;
    width : 100%;
    background-color: black;
}

.black02{
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: start;
}
.black2{
    height: 0%;
    width: 100%;
    background-color: black;
}
#black-heading{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: gilroyRegular;
    font-size: 8vw;
    padding: 2vw;
    overflow: hidden;
    text-transform: uppercase;
}

#page1 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#webgl-canvas{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#hero{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
#hero nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}
#hero nav h1{
    color: whitesmoke;
    font-family: gilroyRegular;
    font-size: 1.6vw;
    font-weight: bolder;
}
#hero nav h1:nth-child(1)
{
    text-transform: uppercase;
}
#Portfolio{
    font-family: monument;
    text-transform: uppercase;
    font-size: 12vw;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#sub-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    text-transform: capitalize;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
}
#menuPage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1000 !important;
    position: absolute;
    top: 0%;
    left: 100%;
    display: flex;
    background-color: black;
    opacity: 100;
}
#rightMenu{
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightMenu .box{
    height: 70%;
    width: 70%;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

#rightMenu .box2{
    display: none;
}

#rightMenu .box canvas {
    width: 100% !important;
    height: 100% !important;
}

#leftMenu{
    height: 100%;
    width: 50vw;
    padding-right: 2vw;
}

#leftMenu .ri-arrow-right-line{
    display: block;
    width: 100%;
    text-align: right;
    font-size: 5vw;
    color: white;
}

#menuOptions{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    row-gap: 1vw;
}

#menuOptions h1{
    font-family: gilroyRegular;
    font-size: 5vw;
    text-decoration: none;
}

#menuOptions h1 a{
    color: white;
    text-decoration: none;
}

#page2 {
    height: 100vh;
    width: 100vw; 
    background-color: #1a1a1a;
    display: flex;
    position: relative;
    /* z-index: 50 !important; */
}
#leftPage2{
    width: 50vw;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftPage2 h1{
    width: 80%;
    font-family: gilroyRegular;
    font-size: 2.4vw;
    font-weight: 700;
    color: rgba(250, 235, 215, 0.441);
}
#leftPage2 h1 span{
    opacity: 0.1;
}
#rightPage2{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rightPage2 .images{
    width: 90%;
    height: 60%;
    border-radius: 7px;
}
.images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page3{
    min-height: 140vh;
    height: fit-content;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
#page3::-webkit-scrollbar{
    display: none;
}
#page3 ul, ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#page3 a {
    transition: all 0.5s;
    text-decoration: none;
    color: var(--white-color);
}

#page3 .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#page3 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page3 .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.anime-list {
    margin: 60px 0px 0px;
    padding: 0px 30px;
    color: var(--white-color);
}

.anime-list .title {
    text-transform: uppercase;
    margin: 0px auto 60px;
    width: fit-content;
    max-width: 1170px;
    text-align: center;
    font-family: roboto;
    font-weight: 900;
    font-size: 8vw;
}

.anime-list ul li {
    cursor: pointer;
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    -webkit-align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 26px 0px;
    margin: 0px -12px;
    opacity: 0.4;
    color: var(--white-color);
}

.anime-list ul li::before,
.anime-list ul li::after {
    content: "";
    transition: all 1s;
    -webkit-transition: all 1s;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

.anime-list ul li::after {
    opacity: 1;
    width: 0%;
}

.anime-list ul li:hover {
    opacity: 1;
}

.anime-list ul li:hover::after {
    width: 100%;
}

.anime-list ul li > div:not(.hover-img) {
    padding: 0px 12px;
}

.anime-list .index {
    width: calc(100% / 12);
}

.anime-list .release-year {
    width: calc((100% / 12) * 2);
}

.anime-list .anime-name {
    width: calc((100% / 12) * 4);
}

.anime-list .genere {
    width: calc((100% / 12) * 4);
}

.anime-list .redirect-link {
    width: calc((100% / 12) * 1);
}

.anime-list .redirect-link a {
    width: 3vw;
    height: 3vw;
    margin: 0px auto;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    border-radius: 50%;
    background: var(--white-color);
}

.anime-list .redirect-link svg {
    color: var(--black-color);
}

.anime-list .hover-img {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    width: 34vw;
    height: 34vw;
}

.anime-list .hover-img img {
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.anime-list li:hover .hover-img img {
    opacity: 1;
}

.index span{
    font-family: gilroyRegular;
    font-size: 2vw;
}

.anime-name h2{
    font-family: gilroyRegular;
    font-size: 2vw;
}
.genere span{
    font-family: gilroyRegular;
    font-size: 1.7vw;
}

#page4 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

#page4 li:nth-child(1) { --i: 1; }
#page4 li:nth-child(2) { --i: 2; }
#page4 li:nth-child(3) { --i: 3; }
#page4 li:nth-child(4) { --i: 4; }
#page4 li:nth-child(5) { --i: 5; }
#page4 li:nth-child(6) { --i: 6; }
#page4 li:nth-child(7) { --i: 7; }
#page4 li:nth-child(8) { --i: 8; }
#page4 li:nth-child(9) { --i: 9; }
#page4 li:nth-child(10) { --i: 10; }

#page4 section {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    will-change: transform;
}
#page4 h1{
    width: 100%;
    height: fit-content;
    color: white;
    font-family: roboto;
    font-size: 8vw;
    text-align: center;
    font-weight: 800;
    margin-top: 2vw;
    text-transform: uppercase;
}

#page4 ul {
    --n: 10;
    --duration: 40s;
    --caro-tiltZ: 12deg;
    --caro-tiltX: 4deg;
    --caro-max-radius: 24em;
    --caro-radius: min(35vw, var(--caro-max-radius));
    --caro-omtrek: calc(2 * pi * var(--caro-radius));
    --item-size-bruto: calc(var(--caro-omtrek) / var(--n));
    --item-spacing: .7;
    --item-size-netto: calc(var(--item-size-bruto) / (1 + var(--item-spacing)));
    --item-tiltX: 12deg;
    margin: 0;
    padding: 0;
    list-style-type: "";
    display: grid;
    perspective: 100vw;
    transform-style: preserve-3d;
}

#page4 li {
    --delay: calc(var(--duration) / var(--n) * var(--i) - var(--duration));
    grid-area: 1/1;
    width: var(--item-size-netto);
    transform: 
        rotateZ(var(--caro-tiltZ))
        rotateX(var(--caro-tiltX))
        rotateY(var(--item-rotateY))
        translateZ(var(--caro-radius))
        rotateX(var(--item-tiltX))
        scale(1.2);
    animation: item-rotateY var(--duration) var(--delay) infinite linear;
    transform-style: preserve-3d;
    position: relative;
}

#page4 li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1a1a1a, #4a4a4a);
    transform: rotateY(180deg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#page4 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateZ(1px); /* Slight offset to prevent z-fighting */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

@keyframes item-rotateY {
    100% {
        --item-rotateY: 360deg;
    }
}

@property --item-rotateY {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

#page5{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
#page5Top{
    height: 50%;
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 8vw;
    padding-left: 0.8vw;
}

#page5Top .top1{
    height: 80%;
    width: fit-content;
}
#page5Top .top1 h1{
    font-family: mango;
    font-weight: 900;
    font-size: 4.3vw;
    margin-bottom: 1vw;
    text-transform: uppercase;
}
#page5Top .top1 .top1span{
    font-family: gilroyRegular;
    font-size: 1.8vw;
    margin-top: 0.2vw;
}
#page5Bottom{
    height: 50%;
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    color: aliceblue;
    overflow: hidden;
}
#page5Bottom h1{
    white-space: nowrap;
    font-family: mango;
    font-size: 30vw;
    text-transform: uppercase;
}




@media (max-width : 639px) {
    #cursor{
        display: none;
    }
    body{
        overflow-x: hidden;
        cursor: pointer;
    }
    #Portfolio {
        font-size: 11vw;
        color: white;
        text-shadow: 0 0 10px rgb(0, 0, 0),
                     0 0 20px rgba(0, 0, 0),
                     0 0 30px rgba(0, 0, 0),
                     0 0 40px rgba(0, 0, 0);
    }
    #sub-heading {
        white-space: nowrap;
        font-size: 7vw;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        color: whitesmoke;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -58%);
        text-shadow: 0 0 8px rgba(0, 0, 0),
                     0 0 15px rgba(0, 0, 0),
                     0 0 25px rgba(0, 0, 0);
}
    #hero nav h1{
        font-size: 6vw;
    }
    .name{
        display: none;
    }
    #menuPage{
        flex-direction: column;    
        overflow: hidden;
    }
    #rightMenu{
        height: 40vh;
        width: 100%;
    }
    #rightMenu .box{
        display: hidden;
    }
    #rightMenu .box2{
        display: block;
        height: 90%;
        width: 65%;
    }
    #leftMenu{
        height: 60vh;
        width: 100%;
    }
    #leftMenu .ri-arrow-right-line{
        font-size: 5vh;
    }
    #menuOptions{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        row-gap: 1vw;
    }
    #menuOptions h1{
        font-size: 6vh;
    }
    #page2{
        height: 100vh;
        width: 100vw;
        background-color: black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    #leftPage2{
        width: 100%;
        height: 50vh;
    }
    #leftPage2 h1{
        width: 95%;
        font-size: 2.6vh;
        color: antiquewhite;
    }
    #leftPage2 h1 span{
        opacity: 1;
    }
    #rightPage2{
        width: 100%;
        height: 50vh;
    }
    .images{
        width: 90%;
        height: 80%;
        border-radius: 7px;
    }
    #page3{
        min-height: 140vh;
        height: fit-content;
        width: 100vw;
        overflow: hidden;
        position: relative;
        /* background-color: darkblue; */
    }
    .anime-list .title {
        font-size: 14vw;
    }
    .anime-list .index span{
        font-size: 5vw;
        color: white;
    }
    .anime-list .anime-name h2{
        font-size: 5vw;
        color: white;
    }
    .anime-list .genere span{
        font-size: 5vw;
        color: white;
    }
    .anime-list .redirect-link a {
        width: 6vw;
        height: 6vw;
    }
    #page4 ul {
        --caro-tiltZ: 8deg;
        --caro-tiltX: 2deg;
        --caro-max-radius: 20em;
        --caro-radius: min(50vw, var(--caro-max-radius));
        --item-spacing: .5;
        --item-tiltX: 8deg;
        perspective: 80vw;
    }

    #page4 li {
        transform: 
            rotateZ(var(--caro-tiltZ))
            rotateX(var(--caro-tiltX))
            rotateY(var(--item-rotateY))
            translateZ(var(--caro-radius))
            rotateX(var(--item-tiltX))
            scale(1);
    }

    #page4 img {
        width: 100%;
        max-width: 220px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    #page4 h1{
        width: 100%;
        height: fit-content;
        color: white;
        font-family: gilroyRegular;
        font-size: 19vw;
        text-align: center;
        margin-top: 13vw;
    }
    #page5Top{
        column-gap: 7vw;
    }    

    #page5Top .top1 h1{
        font-weight: 700;
        font-size: 13.5vw;
    }
    #page5Top .top1 .top1span{
        font-size: 4.2vw;
        margin-top: 3vw;
    }
    #page5Bottom{
        display: flex;
        align-items: flex-end;
    }
}