@font-face {
    font-family: gilroyRegular;
    src: url(./fonts/GIlroy/Gilroy-Regular.ttf);
}
@font-face {
    font-family: monument;
    src: url(./fonts/Monument\ Regular.otf);
}
@font-face {
    font-family: mango;
    src: url(./fonts/MangoGrotesque-ExtraBold.otf);
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    cursor: none;
    position: relative;
}
body::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}
#cursor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    mix-blend-mode: difference;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%,-50%) scale(0.4);
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}
#black-div{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
}
#bar{
    width: 0%;
    background-color: black;
    height: 4px;
    border-top-right-radius: 50px;
    border-bottom-right-radius : 50px;
}
#black-parent{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
}
.black01{
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: end;
}
.black1{
    height: 0%;
    width : 100%;
    background-color: black;
}

.black02{
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: start;
}
.black2{
    height: 0%;
    width: 100%;
    background-color: black;
}
#black-heading{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: gilroyRegular;
    font-size: 8vw;
    padding: 2vw;
    overflow: hidden;
    text-transform: uppercase;
}

#page1 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#webgl-canvas{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#hero{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
#hero nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}
#hero nav h1{
    color: whitesmoke;
    font-family: gilroyRegular;
    font-size: 1.6vw;
    font-weight: bolder;
}
#hero nav h1:nth-child(1)
{
    text-transform: uppercase;
}
#Portfolio{
    font-family: monument;
    text-transform: uppercase;
    font-size: 12vw;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
#sub-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    text-transform: capitalize;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-70%);
}
#menuPage{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    position: absolute;
    top: 0%;
    left: 100%;
    display: flex;
    background-color: black;
    opacity: 100;
}
#rightMenu{
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rightMenu .box{
    height: 70%;
    width: 70%;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}
#rightMenu .box2{
    display: none;
}
#rightMenu .box canvas {
    width: 100% !important;
    height: 100% !important;
  }
#leftMenu{
    height: 100%;
    width: 50vw;
    padding-right: 2vw;
}
#leftMenu .ri-arrow-right-line{
    display: block;
    width: 100%;
    text-align: right;
    font-size: 5vw;
    color: white;
}
#menuOptions{
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    row-gap: 1vw;
}
#menuOptions h1{
    color: white;
    font-family: gilroyRegular;
    font-size: 5vw;
}




#page2{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    overflow-x: hidden;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: green;
    overflow-x: hidden;
}


@media (max-width : 639px) {
    #cursor{
        display: none;
    }
    body{
        overflow-x: hidden;
        cursor: pointer;
    }
    #Portfolio {
        font-size: 11vw;
        color: white;
        text-shadow: 0 0 10px rgb(0, 0, 0),
                     0 0 20px rgba(0, 0, 0),
                     0 0 30px rgba(0, 0, 0),
                     0 0 40px rgba(0, 0, 0);
    }
    #sub-heading {
        white-space: nowrap;
        font-size: 7vw;
        font-family: 'Roboto', sans-serif;
        font-weight: bolder;
        color: whitesmoke;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -58%);
        text-shadow: 0 0 8px rgba(0, 0, 0),
                     0 0 15px rgba(0, 0, 0),
                     0 0 25px rgba(0, 0, 0);
}
#hero nav h1{
    font-size: 6vw;
}
.name{
    display: none;
}
#menuPage{
    flex-direction: column;    
    overflow: hidden;
}
#rightMenu{
    height: 40vh;
    width: 100%;
}
#rightMenu .box{
    display: hidden;
}
#rightMenu .box2{
    display: block;
    height: 90%;
    width: 65%;
}
#leftMenu{
    height: 60vh;
    width: 100%;
}
#leftMenu .ri-arrow-right-line{
    font-size: 5vh;
}
#menuOptions{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    row-gap: 1vw;
}
#menuOptions h1{
    font-size: 6vh;
}

}